parameters:
    level: 8
    paths:
        - src
        - public
    treatPhpDocTypesAsCertain: true
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    checkExplicitMixed: true
